.calendar {
    width: 890px;
    position: relative;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.calendar__years {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gray;
    margin-bottom: 5px;
    padding: 1px;
    box-sizing: border-box;
}

.calendar__years > div {
    width: 70px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar__years-previous, .calendar__years-next {
    border: 2px solid gray;
    cursor: pointer;
    user-select: none;
}

.calendar__months {
    width: 100%;
    height: 580px;
    display: flex;
    flex-wrap: wrap;
    border: 2px solid gray;
    margin-bottom: 5px;
}

.month {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.month:last-child {
    margin-right: 0;
}

.month__head {
    display: flex;
}

.week {
    display: flex;
}

.day {
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    box-sizing: border-box;
    border: 1px solid transparent;
    user-select: none;
}

.day_full:hover {
    cursor: pointer;
    background-color: rgba(0, 250, 0, .5);
}

.day_weekend {
    color: red;
}

.day_event {
    border: 1px solid green;
}

.day_editing {
    border: 1px solid rgba(0, 250, 0, .5);
}

.day_chosen {
    border: 1px solid red;
}

.calendar__events {
    width: 700px;
    height: 180px;
    overflow: hidden;
    overflow-y: auto;
    border: 2px solid gray;
    padding: 5px;
    box-sizing: border-box;
    margin-bottom: 5px;
}

.event {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    position: relative;
    top: 0;
    right: 0;
    margin-bottom: 5px;
    border: 1px solid green;
    padding: 5px;
    box-sizing: border-box;
}

.event >  .event__date {
    margin-right: 20px;
}

.event > div:last-child {
    margin: 0;
}

.event__date, .event__text {
    border: transparent;
    outline: none;
    margin: 0;
}

.event__date {
    width: 155px;
}

.event__text {
    width: 460px;
}

.event__close {
    right: 0;
    background-color: red;
    top: 0;
    position: absolute;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    user-select: none;
    border: transparent;
    outline: none;
}

.adding {
    width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid gray;
    padding: 5px;
    box-sizing: border-box;
}

.adding > .time, .adding__text {
    margin-right: 5px;
}

.adding__text {
    width: 100%;
    height: 45px;
}

.adding__btn {
    height: 50px;
    background-color: #3F93E6;
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
}

.time {
    width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.time__ranges {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.time__hours, .time__minutes {
    margin-bottom: 0;
    
    background: transparent; 
  border-color: transparent;
  color: transparent;
}

.watch {
    width: 700px;
    height: 30px;
    border: 2px solid gray;
    box-sizing: border-box;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

